<!-- to access base.html -->
 {% extends 'base.html' %} 
 {% block content %}
   
<form method="post" class="join-form">
    <h3>Enter The Chat Room</h3>

    <div>
        <p>Welcome, <b>{{ session.username }}</b></p>
    </div>

    <div class="join">
        <input
            type="text"
            name="code"
            placeholder="Enter the room code"
            value="{{ code }}"
        >
        <button type="submit" name="join" class="create">
            Join
        </button>
    </div>

    <div class="create">
        <button type="submit" name="create" class="create">
            Create a room
        </button>
    </div>

    <div class="logout">
        <a href="{{ url_for('logout') }}">
            Logout
        </a>
    </div>

    {% if error %}
    <ul>
        <li>{{ error }}</li>
    </ul>
    {% endif %}
</form>

 {% endblock %}