{% extends 'base.html' %}
{% block content %}

<div class="room" action="url_for('room')">
    <div class="room-header">
        Room Code:  {{room}} | {{ creator_name }}'s Room
    </div>
    <div class="members" id="members_count">
        Joined as {{name}} | Total Members: {{members}}
    </div>

    <div class="message-box">
        <h2>Chat Room</h2>
        <div class="chat-container"  id="messages-list">
                <!-- Messages will be dynamically added here -->
        </div>

        <div class="chat-input">
            <input type="text" rows="3" id="message-input" name="message-inp" placeholder="Type your message here...">
            <button id="send_btn" name="send_btn" onclick="sendMessage()">Send</button>
        </div>
    </div>    
    <script src="../static/js/chat.js"></script>

 
{% for msg in messages %}
    <script>
        createMessage("{{msg.name}}","{{msg.message}}");
    </script>
{% endfor %}

{% endblock %}