{% extends 'base.html' %}
{% block content %}

<div class="room" action="url_for('room')">
    <div class="room-header">
        Room Code:  {{room}} | {{ creator_name }}'s Room
    </div>
    <div class="members" id="members_count">
        Joined as {{name}} | Total Members: {{members}}
    </div>

    <div class="message-box">
        <h2>Chat Room</h2>
        <div class="chat-container"  id="messages-list">
                <!-- Messages will be dynamically added here -->
        </div>

        <div class="chat-input">
            <input type="text" rows="3" id="message-input" name="message-inp" placeholder="Type your message here...">
            <button id="send_btn" name="send_btn" onclick="sendMessage()">Send</button>
        </div>
    </div>    

    <script >
        //initialize socketio
        var socketio=io();
        
        //Listen to messages coming from main.py
        const messageList=document.getElementById("messages-list")
        
        //message is coming from main.py and messageList is the section where
        //messages will be displayed
        const createMessage= (name,message)=> {
            const content= `
            <div>
             <span> <strong>${name}</strong>: ${message} </span> <!--strong tag makes it bold -->
                <span class="time"> ${new Date().toLocaleTimeString()} </span>
            </div>
            `;
            messageList.innerHTML += content;
        }
        socketio.on("message",(data) => {
           createMessage(data.name,data.message);
        });
        
        const sendMessage= () => {
            const said=document.getElementById("message-input");
            if(said.value==""){
                return;
            }
            socketio.emit("message",{
               data:said.value
            });
            said.value="";
        }
        
        document.getElementById("message-input").addEventListener("keypress",function(event){
            if(event.key==="Enter"){
                event.preventDefault(); //prevent default behaviour of enter key
                sendMessage();
            }
        });
    </script>
{% for msg in messages %}
    <script>
        createMessage("{{msg.name}}","{{msg.message}}");
    </script>
{% endfor %}

{% endblock %}